<p>mobile-phone works!</p>

<div class="container">
    <div class="row justify-content-md-center">
      <div class="col col-lg-2">
        <div *ngFor="let item of getAllMobiles()">
            <div class="card" style="width: 18rem;">
              
            
            <div class="card-body">
             <div> <p class="card-text">{{item.productName}}</p></div>
              
            </div>
            <div class="row">
          <div class="col">
              <div><p class="card-text">Cost:{{item.productCost | currency:'INR'}}</p></div>
              <div><button (click)="addToCart(item)">Add To Cart</button></div>
            </div>
            <div class="col">
            
          </div>
          </div>
          </div>
          </div>
      </div>
      </div>
      </div>